# Copyright 2025 Latvijas Mobilais Telefons
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


config LMTSDK
    bool "Enable lmtSDK module"
    default y
    select LOG
    select SERIAL
    select NETWORKING
    select NET_SOCKETS
    select NET_SOCKETS_OFFLOAD
    select NET_SOCKETS_POSIX_NAMES
    select LTE_LINK_CONTROL
    select LTE_LC_RAI_MODULE
    select LTE_LC_CONN_EVAL_MODULE
    select LTE_LC_PSM_MODULE
    select LTE_LC_EDRX_MODULE
    select POSIX_API
    select NRF_MODEM_LIB
    select MODEM_KEY_MGMT
    select MODEM_INFO
    select LTE_RAI_REQ
    select COAP
    select COAP_EXTENDED_OPTIONS_LEN
    select DATE_TIME
    select DATE_TIME_AUTO_UPDATE
    select CJSON_LIB
    select NANOPB
    select FILE_SYSTEM
    select FILE_SYSTEM_LITTLEFS
    select FILE_SYSTEM_MKFS
    select FLASH
    select FLASH_MAP
    select FLASH_PAGE_LAYOUT
    select SPI_NOR_IDLE_IN_DPD
    select NVS
    select SPI
    select SPI_NOR
    select FLASH_JESD216_API
    select PM_PARTITION_REGION_LITTLEFS_EXTERNAL
    select PM_OVERRIDE_EXTERNAL_DRIVER_CHECK
    select STREAM_FLASH
    select IMG_MANAGER
    select ASSERT
    select POWEROFF
    select PM_DEVICE
    select FPU
    select REBOOT

if LMTSDK

config NET_NATIVE
    bool
    default n

# CONFIG_LTE_PSM_REQ_RPTAU for more information
config LTE_PSM_RPTAU
    string
    default "00111000"

config COAP_EXTENDED_OPTIONS_LEN_VALUE
    int
    default 40

config SPI_NOR_FLASH_LAYOUT_PAGE_SIZE
    int
    default 4096

config PM_PARTITION_SIZE_LITTLEFS
    hex
    default 0x400000

config IMG_BLOCK_BUF_SIZE
    int
    default 1024

config PM_EXTERNAL_FLASH_MCUBOOT_SECONDARY
    bool
    default n

choice FS_LOG_LEVEL_CHOICE
    prompt "Date Time Log Level"
    default FS_LOG_LEVEL_OFF
endchoice

choice SPI_NOR_SFDP
    prompt "SPI NOR SFDP support"
    default SPI_NOR_SFDP_RUNTIME
endchoice

config COAP_QUEUE_SIZE
    int "CoAP queue size"
    default 96
    help
      Number of CoAP messages that can be queued.

endif # LMTSDK
