# Copyright (c) 2025 Latvijas Mobilais Telefons
# SPDX-License-Identifier: Apache-2.0

# LMT nRF9160 SoM configuration

if SOC_NRF9160_SICA

config BOARD_LMT_SOM_NRF9160
	bool "LMT nRF9160 SoM"

config BOARD_LMT_SOM_NRF9160_NS
	bool "LMT nRF9160 SoM non-secure"

endif # SOC_NRF9160_SICA
