Checks: '-*, -cppcoreguidelines-avoid-non-const-global-variables, -llvm-include-order, -hicpp-signed-bitwise, , readability-magic-numbers, readability-identifier-naming'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
CheckOptions:
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: snake_case
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.GlobalVariableCase
    value: snake_case
  - key: readability-identifier-naming.GlobalFunctionCase
    value: snake_case
  - key: readability-identifier-naming.MemberVariableCase
    value: snake_case
  - key: readability-identifier-naming.MemberFunctionCase
    value: camelBack
  - key: readability-identifier-naming.LocalVariableCase
    value: snake_case
  - key: readability-identifier-naming.LocalFunctionCase
    value: camelBack
  - key: readability-function-size.StatementThreshold
    value: 6050
  - key: google-readability-function-size.StatementThreshold
    value: 6050
  - key: hicpp-function-size.StatementThreshold
    value: 6050