# Copyright (c) 2025 Latvijas Mobilais Telefons
# SPDX-License-Identifier: Apache-2.0

# LMT nRF9151 SoM configuration

if SOC_NRF9151_LACA

config BOARD_LMT_SOM_NRF9151
	bool "LMT nRF9151 SoM"

config BOARD_LMT_SOM_NRF9151_NS
	bool "LMT nRF9151 SoM non-secure"

endif # SOC_NRF9151_LACA
